@page "/"
@* @attribute [StreamRendering] *@
<PageTitle>Home</PageTitle>
<EditForm Model="MyFormModel" OnSubmit=OnOK FormName="myFormName">
    <InputText @bind-Value=MyFormModel.Name />
    <button type="submit" @onclick=OnOK>OnOK</button>
</EditForm>

<h1>Counter : @counter</h1>
<h1>Hello, world!</h1>

Welcome to your new app.
